body {
    margin: 0;
    position: relative;
}

.credits,
.start-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start-game {
    background-image: url("/art/Farmhouse_outside_colornight.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.credits {
    color: white;
    background-color: black;
}

.background {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.farmhouse-day {
        background-image: url("/art/Farmhouse_outside_color.png");
    }

    &.farmhouse-night {
        background-image: url("/art/Farmhouse_outside_colornight.png");
    }

    &.store {
        background-image: url("/art/store-interior-mockup.jpg");
    }

    &.console {
        background-image: url("/art/console-mockup.jpg");
    }
}

.dialog-container {
    position: absolute;
    right: 5em;
    left: 5em;
    bottom: 0;
}

.dialog-box {
    background-color: darkgray;
    // max-height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    overflow-y: scroll;
    padding: 1em;
    border: 1px solid black;

    .dialog-bit {
        margin-top: 0.5em;
        animation-name: dialog-bit-fade-up;
        animation-duration: 0.5s;
        position: relative;
    }

    .player-response {
        text-align: right;
        margin-left: 5em;
    }

    .entity-response,
    .shopkeeper-response {
        margin-right: 5em;
        text-align: left;
    }

    .narrator-response {
        margin-left: 5em;
        margin-right: 5em;
        font-style: italic;
        text-align: center;
    }
}

.responses {
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .player-option {
        background-color: white;
        cursor: pointer;
        border: 1px solid black;
        padding: 0.2em 0.4em;
        margin-top: 0.2em;
    }
}
@keyframes dialog-bit-fade-up {
    from {
        top: 10px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
