body {
    margin: 0;
    position: relative;
}

.credits,
.start-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.credits {
    color: white;
    background-color: black;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;

    &.farmhouse-day {
        background-image: url("/art/farmhouse-day-mockup.jpg");
    }

    &.farmhouse-night {
        background-image: url("/art/farmhouse-night-mockup.jpg");
    }

    &.store {
        background-image: url("/art/store-interior-mockup.jpg");
    }

    &.console {
        background-image: url("/art/console-mockup.jpg");
    }
}

.dialog-box {
    position: absolute;
    background-color: darkgray;
    bottom: 5em;
    right: 5em;
    left: 5em;
    // max-height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    overflow-y: hidden;
    padding: 1em;
    border: 1px solid black;

    .dialog-bit {
        margin-top: 0.5em;
    }

    .player-option {
        background-color: white;
        cursor: pointer;
        align-self: flex-end;
        border: 1px solid black;
        padding: 0.2em 0.4em;
        margin: 0.2em;
    }

    .player-response {
        text-align: right;
    }

    .entity-response {
        text-align: left;
    }
}
