@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans|Merriweather|Permanent+Marker|VT323');

body {
    margin: 0;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // letter-spacing: 0.03em;
}

.credits,
.start-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/art/Farmhouse_outside_colornight.png");
    background-size: cover;
    background-position: center;
    color: white;

    h1 {
        font-size: 300%;
        letter-spacing: 0.5em;
        font-family: 'Permanent Marker', cursive;
        text-align: center;
    }
}

.start-game {
    button {
        cursor: pointer;
        border: 1px solid black;
        padding: 0.2em 0.4em;
        font-family: 'Merriweather', serif;
        background-color: white;
    }
}

.credits {
    font-family: 'Josefin Sans', sans-serif;

    h1 {
        font-family: 'Permanent Marker', cursive;
        letter-spacing: normal;
    }

    .credits-nascar {
        display: flex;
        justify-content: space-around;
        color: white;

        > * {
            padding: 1em;
            text-align: center;

            a {
                color: black;
                font-family: 'VT323', monospace;
                text-decoration: inherit;
                cursor: pointer;
                border: 1px solid black;
                padding: 0.2em 0.4em;
                background-color: white;
            }
        }
    }

    .bananacat {
        width: 100px;
    }
}

.background {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.farmhouse-day {
        background-image: url("/art/Farmhouse_outside_color.jpg");
    }

    &.farmhouse-night {
        background-image: url("/art/Farmhouse_outside_colornight.jpg");
    }

    &.store {
        background-image: url("/art/General-Store_color.jpg");
    }

    &.console-on {
        background-image: url("/art/Farmhouse_inside_colorgood_day.jpg");
    }

    &.console-off {
        background-image: url("/art/Farmhouse_inside_colorbad_day.jpg");
    }
}

.dialog-container {
    position: absolute;
    right: 5em;
    left: 5em;
    bottom: 0;
}

.dialog-box {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    overflow-y: scroll;
    padding: 1em;
    border: 1px solid black;

    .dialog-bit {
        margin-top: 0.5em;
        animation-name: dialog-bit-fade-up;
        animation-duration: 0.5s;
        position: relative;
    }

    .player-narrator-response,
    .player-response {
        text-align: right;
        margin-left: 5em;
        font-family: 'Merriweather', serif;
        letter-spacing: 0.02em;
    }

    .player-narrator-response {
        font-style: italic;
    }

    .entity-response,
    .shopkeeper-response,
    .steward-response {
        margin-right: 5em;
        text-align: left;
    }

    .entity-response {
        font-family: 'Josefin Sans', sans-serif;
    }

    .shopkeeper-response,
    .steward-response {
        font-family: 'VT323', monospace;
    }

    .narrator-response {
        font-family: 'Crimson Text', serif;
        margin-left: 5em;
        margin-right: 5em;
        font-style: italic;
        text-align: center;
    }
}

.responses {
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .player-option {
        text-align: right;
        background-color: white;
        font-family: 'Merriweather', serif;
        letter-spacing: 0.02em;
        cursor: pointer;
        border: 1px solid black;
        padding: 0.2em 0.4em;
        margin-top: 0.2em;
    }
}
@keyframes dialog-bit-fade-up {
    from {
        top: 10px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
